.hamburger-nav-site-container {
  position: relative;
}
.hamburger-nav-site-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hamburger-nav-site-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.hamburger-nav-site-logo {
  height: 2rem;
}
.hamburger-nav-site-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger-nav-site-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.hamburger-nav-site-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.hamburger-nav-site-text {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hamburger-nav-site-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hamburger-nav-site-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hamburger-nav-site-icon2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.hamburger-nav-site-icon4 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.hamburger-nav-site-icon6 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}















@media(max-width: 600px) {
  .hamburger-nav-site-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .hamburger-nav-site-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .hamburger-nav-site-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 481px) {
  .hamburger-nav-site-container {
    height: 317px;
    margin-bottom: 0px;
  }
  .hamburger-nav-site-nav {
    width: 320px;
  }
  .hamburger-nav-site-top {
    flex: 1;
    height: 135px;
  }
  .hamburger-nav-site-logo {
    width: 127px;
    height: 122px;
  }
  .hamburger-nav-site-icon {
    width: 27px;
    height: 30px;
  }
  .hamburger-nav-site-text {
    color: var(--dl-color-gray-500);
  }
  .hamburger-nav-site-navlink {
    color: var(--dl-color-gray-500);
  }
  .hamburger-nav-site-navlink1 {
    color: var(--dl-color-gray-500);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .hamburger-nav-site-icon-group {
    display: flex;
    align-self: center;
    align-content: center;
  }
}

.hamburger-nav-blog-container {
  position: relative;
}
.hamburger-nav-blog-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hamburger-nav-blog-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.hamburger-nav-blog-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger-nav-blog-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.hamburger-nav-blog-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.hamburger-nav-blog-text {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hamburger-nav-blog-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hamburger-nav-blog-navlink1 {
  text-decoration: none;
}
.hamburger-nav-blog-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hamburger-nav-blog-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hamburger-nav-blog-icon2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.hamburger-nav-blog-icon4 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.hamburger-nav-blog-icon6 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}







@media(max-width: 1200px) {
  .hamburger-nav-blog-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 600px) {
  .hamburger-nav-blog-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .hamburger-nav-blog-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .hamburger-nav-blog-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .hamburger-nav-blog-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 481px) {
  .hamburger-nav-blog-container {
    height: 289px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .hamburger-nav-blog-nav {
    width: 276px;
    height: 251px;
    position: relative;
  }
  .hamburger-nav-blog-icon {
    fill: #ffffff;
    width: 27px;
    height: 30px;
  }
  .hamburger-nav-blog-links {
    color: #2f2e2e;
    height: 174px;
  }
  .hamburger-nav-blog-text {
    color: #ffffff;
  }
  .hamburger-nav-blog-navlink {
    color: #ffffff;
  }
  .hamburger-nav-blog-navlink1 {
    color: #ffffff;
  }
  .hamburger-nav-blog-navlink2 {
    color: #ffffff;
  }
  .hamburger-nav-blog-navlink3 {
    color: #ffffff;
  }
  .hamburger-nav-blog-icon-group {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
  }
}

.blog-post-card-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card-image {
  width: 341px;
  height: 331px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.blog-post-card-container {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.blog-post-card-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card-profile {
  display: flex;
  align-items: center;
}
.blog-post-card-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
}
.blog-post-card-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.blog-post-card-text {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-card-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.blog-post-card-text1 {
  margin-top: 3px;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-card-text2 {
  color: #2f2e2e;
  align-self: center;
}
.blog-post-card-text3 {
  color: #e90000;
  transition: 0.3s;
  font-weight: 600;
  text-transform: uppercase;
}
.blog-post-card-text3:hover {
  color: #2f2e2e;
}
.blog-post-card-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.blog-post-card-text4 {
  color: #2f2e2e;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-bottom: 14px;
}
.blog-post-card-text4:hover {
  color: #B9AE80;
}
.blog-post-card-text5 {
  color: #2f2e2e;
  font-size: 1.25rem;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card-text5:hover {
  color: #B9AE80;
}
.blog-post-card-text7 {
  color: #2f2e2e;
}























































@media(max-width: 1600px) {
  .blog-post-card-blog-post-card {
    height: 444px;
  }
  .blog-post-card-image {
    width: 456px;
    height: 442px;
  }
  .blog-post-card-container {
    width: 901px;
    position: relative;
    padding-top: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .blog-post-card-profile {
    width: 323px;
  }
  .blog-post-card-text1 {
    font-size: 14px;
    margin-top: 3px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .blog-post-card-text3 {
    font-size: 18px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .blog-post-card-container4 {
    height: 155px;
  }
  .blog-post-card-text4 {
    color: #2f2e2e;
    height: 52px;
    font-size: 2.8em;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: 14px;
  }
  .blog-post-card-text5 {
    color: #2f2e2e;
    margin-top: 0px;
  }
  .blog-post-card-text7 {
    color: #2f2e2e;
  }
}
@media(max-width: 1400px) {
  .blog-post-card-blog-post-card {
    width: 1058px;
    height: 406px;
  }
  .blog-post-card-image {
    width: 415px;
    height: 402px;
    max-height: 499;
  }
  .blog-post-card-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .blog-post-card-profile {
    width: 100%;
  }
  .blog-post-card-container4 {
    width: 489px;
    height: 205px;
    margin-bottom: 0px;
  }
  .blog-post-card-text5 {
    margin-right: 15;
  }
}
@media(max-width: 1200px) {
  .blog-post-card-blog-post-card {
    width: 851px;
    height: 516px;
    flex-direction: row;
    justify-content: space-between;
  }
  .blog-post-card-image {
    width: 460px;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .blog-post-card-container {
    width: 361px;
    height: 100%;
  }
  .blog-post-card-text2 {
    display: none;
  }
  .blog-post-card-text3 {
    padding: 5;
    font-size: 12;
    margin-top: 0;
    margin-right: 80;
  }
  .blog-post-card-container4 {
    width: 282px;
    height: 287px;
    margin-right: 0px;
  }
  .blog-post-card-text4 {
    font-size: 24px;
  }
}
@media(max-width: 600px) {
  .blog-post-card-blog-post-card {
    width: 544px;
    height: auto;
    flex-direction: column;
  }
  .blog-post-card-image {
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    max-height: 600;
    object-fit: contain;
  }
  .blog-post-card-container {
    width: 599px;
    height: 445px;
    align-self: center;
  }
  .blog-post-card-container1 {
    width: 740px;
  }
  .blog-post-card-image1 {
    border-radius: 0px;
  }
  .blog-post-card-text2 {
    display: none;
  }
  .blog-post-card-text3 {
    color: #FFFFFF;
    border: 10px solid #e90000;
    align-self: flex-start;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #E90000;
  }
  .blog-post-card-container4 {
    width: 486px;
    height: auto;
    padding-bottom: 4px;
  }
}
@media(max-width: 481px) {
  .blog-post-card-blog-post-card {
    width: 319px;
    height: auto;
    margin-right: 0px;
  }
  .blog-post-card-image {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
    max-height: 320;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-unit);
  }
  .blog-post-card-container {
    width: 319px;
    height: 362px;
    padding-top: var(--dl-space-space-halfunit);
    margin-right: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-card-container1 {
    width: 279px;
    max-width: auto;
    align-self: flex-start;
    max-height: auto;
    align-items: flex-start;
    padding-bottom: 0px;
    justify-content: space-between;
  }
  .blog-post-card-profile {
    align-self: left;
  }
  .blog-post-card-text {
    font-size: 12px;
  }
  .blog-post-card-text1 {
    font-size: 12px;
  }
  .blog-post-card-text2 {
    display: none;
  }
  .blog-post-card-text3 {
    top: var(--dl-space-space-fourunits);
    left: 0px;
    position: absolute;
    font-size: 14px;
    align-self: flex-end;
    margin-top: 5px;
    text-align: left;
    margin-left: var(--dl-space-space-oneandhalfunits);
    padding-top: 0px;
    border-width: 6px;
    margin-right: var(--dl-space-space-oneandhalfunits);
    padding-left: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
  }
  .blog-post-card-container4 {
    width: 242px;
    height: 242px;
    padding-top: 61px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .blog-post-card-text5 {
    font-size: 0.9rem;
  }
}

.srednji-vijek-container {
  width: 100%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.srednji-vijek-burger-menu {
  display: none;
}
.srednji-vijek-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.srednji-vijek-desktop-menu {
  display: flex;
  justify-content: space-between;
}
.srednji-vijek-container1 {
  width: 200px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: row;
  justify-content: center;
}
.srednji-vijek-navlink {
  color: #2f2e2e;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.srednji-vijek-navlink:hover {
  font-weight: bold;
}
.srednji-vijek-navlink1 {
  color: #2f2e2e;
  transition: 0.3s;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
}
.srednji-vijek-navlink1:hover {
  font-weight: bold;
}
.srednji-vijek-navlink2 {
  display: contents;
}
.srednji-vijek-link {
  color: rgb(47, 46, 46);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
.srednji-vijek-link:hover {
  color: #e90000;
}
.srednji-vijek-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.srednji-vijek-burger-menu1 {
  display: none;
}
.srednji-vijek-icon {
  width: 50;
  height: 50;
}
.srednji-vijek-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.srednji-vijek-container3 {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.srednji-vijek-link1 {
  display: contents;
}
.srednji-vijek-icon02 {
  fill: #2f2e2e;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.srednji-vijek-link2 {
  display: contents;
}
.srednji-vijek-icon04 {
  fill: #2f2e2e;
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.srednji-vijek-link3 {
  display: contents;
}
.srednji-vijek-icon06 {
  fill: #2f2e2e;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.srednji-vijek-container4 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.srednji-vijek-navbar-blog {
  width: 100%;
  height: 86px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #e90000;
}
.srednji-vijek-desktop-menu1 {
  flex: 1;
  width: auto;
  height: 66px;
  display: flex;
  justify-content: space-between;
}
.srednji-vijek-links {
  flex: 1;
  height: 69px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.srednji-vijek-navlink3 {
  color: #ffffff;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.srednji-vijek-navlink3:hover {
  font-weight: bold;
}
.srednji-vijek-navlink4 {
  color: #ffffff;
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.srednji-vijek-navlink4:hover {
  font-weight: bold;
}
.srednji-vijek-navlink5 {
  color: #ffffff;
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.srednji-vijek-navlink5:hover {
  font-weight: bold;
}
.srednji-vijek-navlink6 {
  color: #ffffff;
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.srednji-vijek-navlink6:hover {
  font-weight: bold;
}
.srednji-vijek-burger-menu2 {
  display: none;
}
.srednji-vijek-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.srednji-vijek-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.srednji-vijek-blog {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.srednji-vijek-secund-blog-card {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.srednji-vijek-navlink7 {
  display: contents;
}
.srednji-vijek-component2 {
  text-decoration: none;
}
.srednji-vijek-fourth-blog-card {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.srednji-vijek-navlink8 {
  display: contents;
}
.srednji-vijek-component3 {
  text-decoration: none;
}
.srednji-vijek-footer {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #e90000;
}
.srednji-vijek-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.srednji-vijek-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.srednji-vijek-icon-group {
  color: white;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.srednji-vijek-link4 {
  display: contents;
}
.srednji-vijek-link5 {
  display: contents;
}
.srednji-vijek-icon12 {
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.srednji-vijek-link6 {
  display: contents;
}
.srednji-vijek-text06 {
  color: #ffffff;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.srednji-vijek-text11 {
  color: white;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  line-height: 1.5;
  padding-top: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 0px;
}
@media(max-width: 1600px) {
  .srednji-vijek-link {
    color: #2f2e2e;
  }
  .srednji-vijek-icon04 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .srednji-vijek-navbar-blog {
    height: 86px;
    background-color: #e90000;
  }
  .srednji-vijek-links {
    flex: 1;
  }
  .srednji-vijek-navlink3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .srednji-vijek-navlink4 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .srednji-vijek-navlink5 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .srednji-vijek-navlink6 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .srednji-vijek-footer {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: center;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
    background-color: #e90000;
  }
  .srednji-vijek-icon-group {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .srednji-vijek-text11 {
    color: #ffffff;
    margin-top: var(--dl-space-space-oneandhalfunits);
    text-align: center;
    align-content: center;
  }
  .srednji-vijek-text12 {
    font-size: 20px;
  }
  .srednji-vijek-text13 {
    font-size: 20px;
  }
  .srednji-vijek-text14 {
    font-size: 20px;
  }
}
@media(max-width: 1400px) {
  .srednji-vijek-navlink {
    color: #2f2e2e;
  }
  .srednji-vijek-navlink1 {
    color: #2f2e2e;
    align-self: center;
  }
  .srednji-vijek-navbar-blog {
    height: 86px;
    background-color: #e90000;
  }
  .srednji-vijek-links {
    height: 100%;
  }
  .srednji-vijek-navlink5 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .srednji-vijek-blog {
    width: 100%;
  }
}
@media(max-width: 1200px) {
  .srednji-vijek-navlink1 {
    margin-left: 5;
  }
  .srednji-vijek-navbar-blog {
    width: 1006px;
    background-color: #e90000;
  }
  .srednji-vijek-navlink3 {
    font-size: 18;
  }
  .srednji-vijek-navlink4 {
    font-size: 18;
  }
  .srednji-vijek-navlink5 {
    font-size: 18;
  }
  .srednji-vijek-navlink6 {
    font-size: 18;
  }
  .srednji-vijek-footer {
    height: auto;
    max-width: auto;
    margin-top: 0px;
  }
  .srednji-vijek-text06 {
    color: rgb(255, 255, 255);
    margin-top: var(--dl-space-space-oneandhalfunits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .srednji-vijek-text11 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .srednji-vijek-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .srednji-vijek-desktop-menu {
    display: none;
  }
  .srednji-vijek-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 600px) {
  .srednji-vijek-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .srednji-vijek-navbar-interactive {
    width: 599px;
  }
  .srednji-vijek-desktop-menu {
    display: none;
  }
  .srednji-vijek-container1 {
    display: none;
  }
  .srednji-vijek-navlink1 {
    display: none;
  }
  .srednji-vijek-link {
    width: 547px;
    height: 82px;
    font-size: 5.5em;
    margin-bottom: 11px;
    padding-bottom: 0px;
  }
  .srednji-vijek-burger-menu1 {
    display: flex;
  }
  .srednji-vijek-icon {
    top: 105px;
    right: -19px;
    width: 80px;
    height: 80px;
  }
  .srednji-vijek-container3 {
    display: none;
  }
  .srednji-vijek-icon02 {
    fill: #ff0202;
    flex: 1;
    width: var(--dl-size-size-xsmall);
  }
  .srednji-vijek-icon04 {
    fill: #ff0202;
  }
  .srednji-vijek-icon06 {
    fill: #ff0202;
  }
  .srednji-vijek-container4 {
    margin-top: var(--dl-space-space-unit);
    background-color: #e90000;
  }
  .srednji-vijek-navbar-blog {
    width: 187px;
    height: 59px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .srednji-vijek-desktop-menu1 {
    display: none;
  }
  .srednji-vijek-links {
    width: 303px;
    height: 101px;
  }
  .srednji-vijek-navlink3 {
    font-size: 10px;
  }
  .srednji-vijek-navlink4 {
    font-size: 10px;
  }
  .srednji-vijek-navlink5 {
    padding: 0px;
    font-size: 10px;
  }
  .srednji-vijek-navlink6 {
    font-size: 10px;
  }
  .srednji-vijek-burger-menu2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .srednji-vijek-icon08 {
    fill: #ffffff;
    flex: 1;
    width: 124px;
    height: 39px;
    padding-left: 0;
  }
  .srednji-vijek-blog {
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .srednji-vijek-footer {
    height: auto;
    margin-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .srednji-vijek-text06 {
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  .srednji-vijek-text11 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 481px) {
  .srednji-vijek-navbar-interactive {
    width: 320px;
    height: 101px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .srednji-vijek-container1 {
    display: none;
  }
  .srednji-vijek-navlink1 {
    display: none;
  }
  .srednji-vijek-link {
    color: rgb(47, 46, 46);
    width: 100%;
    padding: 0px;
    font-size: 4.5em;
    align-self: center;
    text-decoration: none;
  }
  .srednji-vijek-icon {
    top: 60px;
    right: 10px;
    width: 60px;
    height: 60px;
  }
  .srednji-vijek-icon02 {
    display: none;
  }
  .srednji-vijek-icon04 {
    display: none;
  }
  .srednji-vijek-icon06 {
    display: none;
  }
  .srednji-vijek-container4 {
    padding-bottom: 0px;
    background-color: #e90000;
  }
  .srednji-vijek-icon08 {
    fill: #ffffff;
  }
  .srednji-vijek-mobile-menu1 {
    background-color: #e90000;
  }
  .srednji-vijek-blog {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .srednji-vijek-secund-blog-card {
    width: 319px;
  }
  .srednji-vijek-fourth-blog-card {
    width: 319px;
  }
  .srednji-vijek-footer {
    margin-top: 0px;
  }
  .srednji-vijek-container6 {
    width: auto;
  }
  .srednji-vijek-icon10 {
    width: var(--dl-size-size-xsmall);
    height: 20px;
  }
  .srednji-vijek-icon12 {
    width: var(--dl-size-size-xsmall);
    height: 20px;
  }
  .srednji-vijek-text06 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .srednji-vijek-text11 {
    color: white;
    width: auto;
    margin: var(--dl-space-space-halfunit);
    font-size: 5px;
    line-height: 1.5;
  }
  .srednji-vijek-text12 {
    font-size: 15px;
  }
  .srednji-vijek-text13 {
    font-size: 15px;
  }
  .srednji-vijek-text14 {
    font-size: 15px;
  }
}
@media(max-width: 479px) {
  .srednji-vijek-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .srednji-vijek-mobile-menu {
    padding: 16px;
  }
}
