.hamburger-nav-site-container {
  position: relative;
}
.hamburger-nav-site-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hamburger-nav-site-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.hamburger-nav-site-logo {
  height: 2rem;
}
.hamburger-nav-site-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger-nav-site-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.hamburger-nav-site-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.hamburger-nav-site-text {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hamburger-nav-site-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hamburger-nav-site-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.hamburger-nav-site-icon2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.hamburger-nav-site-icon4 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.hamburger-nav-site-icon6 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}


















@media(max-width: 600px) {
  .hamburger-nav-site-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .hamburger-nav-site-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .hamburger-nav-site-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 481px) {
  .hamburger-nav-site-container {
    height: 317px;
    margin-bottom: 0px;
  }
  .hamburger-nav-site-nav {
    width: 320px;
  }
  .hamburger-nav-site-top {
    flex: 1;
    height: 135px;
  }
  .hamburger-nav-site-logo {
    width: 127px;
    height: 122px;
  }
  .hamburger-nav-site-icon {
    width: 27px;
    height: 30px;
  }
  .hamburger-nav-site-text {
    color: var(--dl-color-gray-500);
  }
  .hamburger-nav-site-navlink {
    color: var(--dl-color-gray-500);
  }
  .hamburger-nav-site-navlink1 {
    color: var(--dl-color-gray-500);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .hamburger-nav-site-icon-group {
    display: flex;
    align-self: center;
    align-content: center;
  }
}

.blog-post-blog-post-card {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.blog-post-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-profile {
  width: 96%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.blog-post-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
}
.blog-post-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.blog-post-text {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.blog-post-text1 {
  margin-top: 3px;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-text2 {
  color: #2f2e2e;
  right: 0px;
  bottom: 15px;
  position: absolute;
  text-align: left;
}
.blog-post-container2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.blog-post-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.blog-post-text3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.blog-post-text4 {
  color: #2f2e2e;
  font-size: 0.8rem;
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  line-height: 1.4;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-image1 {
  width: 581px;
  height: 451px;
  object-fit: cover;
}
.blog-post-text5 {
  color: #2f2e2e;
  font-size: 0.8rem;
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  line-height: 1.4;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-text1234 {
  overflow: hidden;
  margin-top: var(--dl-space-space-unit);
  white-space: nowrap;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.blog-post-container5 {
  flex: 100;
  width: 1200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blog-post-text6 {
  color: #e90000;
  font-size: 25px;
  align-self: flex-start;
  transition: 0.3s;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.blog-post-text6:hover {
  color: #2f2e2e;
  font-weight: bold;
}
.blog-post-text7 {
  color: #2f2e2e;
  align-self: center;
}
.blog-post-root-class-name {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.blog-post-root-class-name1 {
  margin-bottom: 0px;
}
.blog-post-root-class-name2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.blog-post-root-class-name3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.blog-post-root-class-name4 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.blog-post-root-class-name5 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.blog-post-root-class-name6 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.blog-post-root-class-name7 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.blog-post-root-class-name8 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.blog-post-root-class-name9 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.blog-post-root-class-name10 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
@media(max-width: 1600px) {
  .blog-post-blog-post-card {
    width: auto;
    height: auto;
    max-width: auto;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .blog-post-profile {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .blog-post-text1 {
    font-size: 14px;
    margin-top: 3px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .blog-post-container2 {
    flex: 1;
    width: 1322px;
    height: auto;
    position: relative;
    padding-top: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .blog-post-container3 {
    width: 1253px;
  }
  .blog-post-text4 {
    color: #2f2e2e;
    font-size: 1em;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-text5 {
    color: #2f2e2e;
    font-size: 1em;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-text6 {
    font-size: 18px;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .blog-post-text7 {
    color: #2f2e2e;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-root-class-name {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
  .blog-post-root-class-name1 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
  .blog-post-root-class-name2 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
  .blog-post-root-class-name3 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
  .blog-post-root-class-name4 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
  .blog-post-root-class-name5 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
  .blog-post-root-class-name6 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
  .blog-post-root-class-name7 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
  .blog-post-root-class-name8 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
  .blog-post-root-class-name9 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
  .blog-post-root-class-name10 {
    flex: 1;
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
  }
}
@media(max-width: 1400px) {
  .blog-post-blog-post-card {
    width: 991px;
    height: auto;
  }
  .blog-post-profile {
    width: 100%;
  }
  .blog-post-container2 {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .blog-post-container3 {
    width: auto;
  }
  .blog-post-text3 {
    color: rgb(47, 46, 46);
    font-size: 2.8em;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: 14px;
  }
  .blog-post-text4 {
    width: auto;
    height: auto;
    margin-right: 15;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-text5 {
    margin-right: 15;
    margin-bottom: 0px;
  }
  .blog-post-container5 {
    width: 859px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .blog-post-text7 {
    text-align: center;
    margin-right: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 1200px) {
  .blog-post-blog-post-card {
    width: 668px;
    height: auto;
    margin-top: 0px;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: center;
  }
  .blog-post-profile {
    width: auto;
    align-self: flex-start;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: var(--dl-space-space-twounits);
  }
  .blog-post-text2 {
    display: none;
  }
  .blog-post-container2 {
    width: 555px;
    height: auto;
    padding-bottom: 0px;
  }
  .blog-post-container3 {
    width: 523px;
    height: auto;
    margin-right: 0px;
  }
  .blog-post-text3 {
    width: 523px;
  }
  .blog-post-text4 {
    width: 100%;
    height: auto;
  }
  .blog-post-image1 {
    width: 100%;
    height: 398px;
  }
  .blog-post-text5 {
    width: 100%;
    height: auto;
    margin-right: 0px;
  }
  .blog-post-text1234 {
    margin-left: 5px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-text6 {
    padding: 5;
    font-size: 12;
    margin-top: 0;
    margin-right: 80;
  }
  .blog-post-text7 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 600px) {
  .blog-post-blog-post-card {
    width: 600px;
    height: 1941px;
    margin-right: 12px;
    flex-direction: column;
  }
  .blog-post-image {
    border-radius: 0px;
  }
  .blog-post-text2 {
    display: none;
  }
  .blog-post-container2 {
    width: 100%;
    height: auto;
  }
  .blog-post-container3 {
    width: 100%;
  }
  .blog-post-text3 {
    width: 100%;
  }
  .blog-post-text4 {
    height: auto;
    margin-right: 0;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .blog-post-image1 {
    width: 100%;
  }
  .blog-post-text5 {
    height: auto;
    margin-right: 0;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .blog-post-text1234 {
    color: #7f7f7f;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
  }
  .blog-post-container4 {
    height: 51px;
    margin-top: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 481px) {
  .blog-post-blog-post-card {
    width: 289px;
    margin-right: 0px;
  }
  .blog-post-profile {
    align-self: left;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .blog-post-text {
    font-size: 12px;
  }
  .blog-post-text1 {
    font-size: 12px;
  }
  .blog-post-text2 {
    display: none;
  }
  .blog-post-container2 {
    width: 275px;
    padding: var(--dl-space-space-halfunit);
  }
  .blog-post-container3 {
    width: 263px;
  }
  .blog-post-text3 {
    width: 263px;
    font-size: 34px;
  }
  .blog-post-text4 {
    width: 100%;
    height: auto;
    font-size: 0.8em;
    margin-top: 0px;
    text-align: justify;
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit);
    margin-right: 0px;
    padding-left: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-image1 {
    width: auto;
    height: auto;
    margin: 5px;
  }
  .blog-post-text5 {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-oneandhalfunits);
    font-size: 0.8em;
    margin-top: 0px;
    text-align: justify;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .blog-post-text1234 {
    margin-top: 0px;
    margin-left: 5px;
    border-width: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .blog-post-container4 {
    height: 25px;
    margin-top: var(--dl-space-space-halfunit);
    align-items: flex-start;
    padding-left: 1px;
    padding-right: 20px;
    justify-content: flex-start;
  }
  .blog-post-text6 {
    font-size: 9px;
    margin-right: 60px;
    margin-bottom: 0px;
  }
  .blog-post-text7 {
    font-size: 8px;
    align-self: flex-start;
    text-align: center;
    margin-bottom: 0px;
  }
}

.stit-container {
  width: 100%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.stit-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.stit-desktop-menu {
  display: flex;
  justify-content: space-between;
}
.stit-container1 {
  width: 200px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: row;
  justify-content: center;
}
.stit-navlink {
  color: #2f2e2e;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.stit-navlink:hover {
  font-weight: bold;
}
.stit-navlink1 {
  color: #2f2e2e;
  transition: 0.3s;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
}
.stit-navlink1:hover {
  font-weight: bold;
}
.stit-navlink2 {
  display: contents;
}
.stit-link {
  color: rgb(47, 46, 46);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
.stit-link:hover {
  color: #e90000;
}
.stit-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.stit-burger-menu {
  display: none;
}
.stit-icon {
  width: 50;
  height: 50;
}
.stit-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.stit-container3 {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stit-link1 {
  display: contents;
}
.stit-icon02 {
  fill: #2f2e2e;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.stit-link2 {
  display: contents;
}
.stit-icon04 {
  fill: #2f2e2e;
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.stit-link3 {
  display: contents;
}
.stit-icon06 {
  fill: #2f2e2e;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.stit-container4 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.stit-footer {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #e90000;
}
.stit-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.stit-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.stit-icon-group {
  color: white;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.stit-link4 {
  display: contents;
}
.stit-link5 {
  display: contents;
}
.stit-icon10 {
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.stit-link6 {
  display: contents;
}
.stit-text {
  color: #ffffff;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.stit-text05 {
  color: white;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  line-height: 1.5;
  padding-top: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 0px;
}
@media(max-width: 1600px) {
  .stit-link {
    color: #2f2e2e;
  }
  .stit-icon04 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .stit-footer {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: center;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
    background-color: #e90000;
  }
  .stit-icon-group {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .stit-text05 {
    color: #ffffff;
    margin-top: var(--dl-space-space-oneandhalfunits);
    text-align: center;
    align-content: center;
  }
  .stit-text06 {
    font-size: 20px;
  }
  .stit-text07 {
    font-size: 20px;
  }
  .stit-text08 {
    font-size: 20px;
  }
}
@media(max-width: 1400px) {
  .stit-navlink {
    color: #2f2e2e;
  }
  .stit-navlink1 {
    color: #2f2e2e;
    align-self: center;
  }
}
@media(max-width: 1200px) {
  .stit-navlink1 {
    margin-left: 5;
  }
  .stit-footer {
    height: auto;
    max-width: auto;
    margin-top: 0px;
  }
  .stit-text {
    color: rgb(255, 255, 255);
    margin-top: var(--dl-space-space-oneandhalfunits);
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .stit-text05 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .stit-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .stit-desktop-menu {
    display: none;
  }
  .stit-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 600px) {
  .stit-navbar-interactive {
    width: 599px;
  }
  .stit-desktop-menu {
    display: none;
  }
  .stit-container1 {
    display: none;
  }
  .stit-navlink1 {
    display: none;
  }
  .stit-link {
    width: 547px;
    height: 82px;
    font-size: 5.5em;
    margin-bottom: 11px;
    padding-bottom: 0px;
  }
  .stit-burger-menu {
    display: flex;
  }
  .stit-icon {
    top: 105px;
    right: -19px;
    width: 80px;
    height: 80px;
  }
  .stit-container3 {
    display: none;
  }
  .stit-icon02 {
    fill: #ff0202;
    flex: 1;
    width: var(--dl-size-size-xsmall);
  }
  .stit-icon04 {
    fill: #ff0202;
  }
  .stit-icon06 {
    fill: #ff0202;
  }
  .stit-footer {
    height: auto;
    margin-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .stit-text {
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  .stit-text05 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 481px) {
  .stit-navbar-interactive {
    width: 320px;
    height: 101px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .stit-container1 {
    display: none;
  }
  .stit-navlink1 {
    display: none;
  }
  .stit-link {
    color: rgb(47, 46, 46);
    width: 100%;
    padding: 0px;
    font-size: 4.5em;
    align-self: center;
    text-decoration: none;
  }
  .stit-icon {
    top: 60px;
    right: 10px;
    width: 60px;
    height: 60px;
  }
  .stit-icon02 {
    display: none;
  }
  .stit-icon04 {
    display: none;
  }
  .stit-icon06 {
    display: none;
  }
  .stit-footer {
    margin-top: 0px;
  }
  .stit-container6 {
    width: auto;
  }
  .stit-icon08 {
    width: var(--dl-size-size-xsmall);
    height: 20px;
  }
  .stit-icon10 {
    width: var(--dl-size-size-xsmall);
    height: 20px;
  }
  .stit-text {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .stit-text05 {
    color: white;
    width: auto;
    margin: var(--dl-space-space-halfunit);
    font-size: 5px;
    line-height: 1.5;
  }
  .stit-text06 {
    font-size: 15px;
  }
  .stit-text07 {
    font-size: 15px;
  }
  .stit-text08 {
    font-size: 15px;
  }
}
@media(max-width: 479px) {
  .stit-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .stit-mobile-menu {
    padding: 16px;
  }
}
